.home{
    width: auto;
    height: 100dvh;
    padding: 5px;
    margin: 2px;
    background-color: whitesmoke;
    align-items: center;
}
.home h1{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }